.OtpInput {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

._input-box {
  /* width: 40px;
  height: 40px;
  margin-right: 4px;
  text-align: center;
  border: 1px solid gray; */

  width: 45px;
  height: 45px;
  font-size: 19px;
  text-align: center;
  border-radius: 6px;
  /* border: 1px solid #ccc; */
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  outline: none;
  background-color: #fff;
  border: none;
  color: #800080a6;

  /* Hide number input arrows */
  -moz-appearance: textfield;
}

._input-box:focus {
  box-shadow: 0 0 1px 2px purple;
}

._input-box::-webkit-inner-spin-button,
._input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* ResendOTP Component Styles */
.resendComponent {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 12px;
  flex-wrap: wrap; */
  width: 100%;
  max-width: 400px;
  padding: 8px;
}

.resend-text {
  font-size: 14px;
  color: #333333;
  text-align: center;
}

.resend-timer {
  color: purple;
  font-weight: 600;
  font-size: 15px;
  min-width: 50px;
  text-align: center;
}

.resend-button {
  color: purple;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}

.resend-button:hover {
  color: #660066;
}

.resend-button:focus {
  text-decoration: underline;
  text-underline-offset: 2px;
}