.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}


.sidebar {
  width: 280px;
  padding: 20px;
  background-color: #f0f2f5;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
}

.sidebar h2 {
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: purple;
}

.form-group {
  margin-bottom: 15px;
}

.form-groupr {
  border: 1px solid;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 15px;
}

.form-groupr > label{
  cursor: pointer;
  user-select: none;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sidebar a {
  display: inline-block;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #007bff;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.otp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  gap: 10px;
}

.otp-form h2 {
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #333;
}

.otp-input {
  width: 45px;
  height: 45px;
  margin: 0 6px;
  font-size: 1.4rem;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s;
}

.otp-input:focus {
  border-color: #007bff;
}

.button-group {
}

.btn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 300px;
}


.submit {
  background-color: purple;
  color: white;
  width: 300px;
}

.submit:disabled {
  opacity: 0.5;
}